<div class="face-snap-card"
     [ngClass]="{snapped :buttonText==='Unsnap !'}"
     *ngIf="faceSnapModel$|async as faceSnapModel">

  <a routerLink="/facesnaps">Retour</a>

  <h2>{{ faceSnapModel.title | titlecase }}</h2>

  <p *ngIf="faceSnapModel.location">Photo prise à {{faceSnapModel.location}}</p>

  <p>Mis en ligne le {{ faceSnapModel.createdDate | date:'longDate' }}</p>

  <img [src]="faceSnapModel.imageUrl" [alt]="faceSnapModel.title"/>

  <p>{{ faceSnapModel.description }}</p>

  <p>
    <button (click)="onSnap()"> {{buttonText}}</button>
    <span [ngStyle]="{color : 'rgb(0,'+faceSnapModel.snaps+',0)'}">🤌 {{ faceSnapModel.snaps }} </span>
  </p>

</div>
